body {
    background-color: #1e1968;
}

body {
    justify-items: center;
    transition: 0.3s;
}

.background-box {
    background-image: url('drift.jpg');
    background-size: cover;
    padding: 20px;
    background-position: center;
    background-repeat: no-repeat;
}

.dark-mode {
    color: black;
    font-family: 'Courier New', 'Courier New', Courier, monospace; 
    font-size: 1.5rem;  
    padding: 1rem 1.5rem;

}

.btn {
    display: inline-block; /* Строчно-блочный элемент */
    background: #00cac6; /* Серый цвет фона */
    color: black; /* Белый цвет текста */
    font-family: 'Courier New', 'Courier New', Courier, monospace; 
    font-size: 1.5rem;  
    padding: 1rem 1.5rem; /* Поля вокруг текста */
    text-decoration: none; /* Убираем подчёркивание */
    border-radius: 10px; 
    margin-bottom: 20px; /* отступ снизу элемента=20 пикс */
   }

.my-btn2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-right: 5px;           /* задаем отступ от кнопки справа */
    margin-top: 5px;             /* задаем отступ от кнопки сверху*/
    width: 800px;                 /* задаем ширину кнопки */
    height: 70px;                /* задаем высоту кнопки */
    border-radius: 0%;          /* округляем кнопку */
    border: none;                /* отключаем обводку */
    background: #00cac6;         /* задаем серый цвет кнопки */
    color: rgb(0, 0, 0);                /* задаем белый цвет текста внутри кнопки */
    font-size: 1.5rem;           /* увеличим размер шрифта */
    font-family: 'Courier New', 'Courier New', Courier, monospace; /* сменим шрифт */
    font-weight: 700;
    cursor: pointer;             /* при наведении на кнопку курсор будет изменен
                                    со стрелки на 'указательный палец' */
    user-select: none;
}

/* опишем базовый стиль кнопки калькулятора */
.my-btn { 
    margin: 5px;           /* задаем отступ от кнопки  */ 
    padding: 10px 10px;
    margin-bottom: 15px; 
    width: 50px;                 /* задаем ширину кнопки */
    height: 50px;                /* задаем высоту кнопки */
    border-radius: 0px;          /* округляем кнопку */
    border: none;                /* отключаем обводку */
    background: #515151;         /* задаем серый цвет кнопки */
    color: white;                /* задаем белый цвет текста внутри кнопки */
    font-size: 1.5rem;           /* увеличим размер шрифта */
    font-family: 'Courier New', 'Courier New', Courier, monospace, ; /* сменим шрифт */
    cursor: pointer;             /* при наведении на кнопку курсор будет изменен
                                    со стрелки на 'указательный палец' */
    user-select: none;           /* отключаем возможность выделить текст внутри кнопки */
  } 
  
  /* hover - это состояние элемента, когда на него наведен курсор */
  .my-btn:hover {
    background: #00cac6; /* при наведение курсора на кнопку, она будет окрашена в серый */
  }
  
  /* active - это состояние активации элемента. В случае кнопки - нажатие на нее */
  .my-btn:active {
    filter: brightness(130%); /* увеличим интенсивность цвета для эффекта вспышки */
  }
  
  /* селектор для кнопок первостепенных операций */
  .my-btn.primary { 
    background: #00cac6; /* цвет кнопки оранжевый */
  }
  
  /* селектор для кнопок второстепенных операций */
  .my-btn.secondary { 
    background: #009FCA; /* цвет кнопки сервый */
  }
  
  /* селектор для кнопки расчета выражения (=) */
  .my-btn.execute { 
    width: 110px;          /* сделаем кнопку шире других */
    border-radius: 0px;   /* подкорректируем округлость */
  }
  
  /* селектор для поля вывода результата */
  .result { 
    width: 220px;
    height: 50px;
    border-radius: 0%;
    margin-bottom: 20px;         /* отступ снизу */
    padding-right: 10px;         /* выступ справа */
    background: #00cac6; /* цвет можно задавать и таким образом */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;           
    color: #000000;              /* цвет текста белый */
    font-size: 2rem; /*размер шрифта 2 единицы rem */
    font-family: Arial, Helvetica, sans-serif;
  }

  .details {
    color: white;
    font-size: 2rem;
    font-family: 'Courier New', 'Courier New', Courier, monospace;
  }

  .goals {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 800px;
    height: 70px;
    border-radius: 0%;
    margin-bottom: 10px;         /* отступ снизу */
    margin-top: 50px;
    padding-left: 10px;         /* выступ слева */
    background: #00cac6; /* цвет можно задавать и таким образом */
    color: #000000;
    font-size: 2rem;
    font-family: 'Courier New', 'Courier New', Courier, monospace;
  }
